body{background-image: url(callejon.png);
    font-family: sans-serif;color: gold;

};

p.style {
    text-indent: 48px;
	text-align: center;
}
p.button {
	
    
	text-align: center;
	
}

form.cuadro{
	width: 400px;
    border-style: hidden
}

table.prod td, tr{
    padding: 70px;
    border: gold;
}

h1.title {
    font-size: 20pt;
    text-align: center;
    color: black;
}


hr {
    height: 40px; 
    border-style: hidden;
    border-color: gold;
    border-width: 1px 0 0 0;
   }