body{background-image:url(bk4.png); color: azure}
body header{text-align:center;font-size:14pt ;color: ghostwhite}
section header{text-align:left;font-size:12pt}
.normal{font-size:14pt;text-align:justify;color: azure}
article h1,h2{color:gold;font-size:14pt;font-weight:700}
ol{list-style-type:upper-roman}
.special{font-size:13pt;color:gold;font-weight:700;font-style:italic}
.center{text-align:center}
table{
    margin-left: auto;
    margin-right: auto;
}
p.watermark{
    font-size:180pt;
    position: absolute;
    z-index: -1;
    color: yellow;
    opacity: 0.1;
    top: 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(44deg);
}
p.buttons{
    text-align: center;
    color: deepskyblue;
    
}
img{
    width: 400px;
    height: 400px;
}
h1.s {
    color: yellow;
    opacity: 0.5;
}

h1.s:hover {
    opacity: 1;
}

p.extInf{
    color: floralwhite;
}

div.intB{
   color:yellow;
   margin-left:1em;
   text-align: center;
}

img.drag1{
    width: 100px;
    height: 100px;
    text-align: center;
}
#div1 {
    width:100px;
    height:100px;
    background-color:white;
    padding:0px;
    border:1px solid yellow;
}
h1.tic{
    text-align:left;
    font-size:14pt;
    color: orange;
}
button.fb{
    width: 5em;  
    height: 3em;
    font-size: 15pt;
    margin-left:29em
}
div.io{
    color: greenyellow;
    font-size: 12pt;
    text-align: justify;
}
footer{
    background-color: transparent;
    font-family: fantasy;color: lawngreen;font-style: italic;
 
    
   
}
