body{
    background-color: skyblue;
    font-family: serif;color: darkslategrey;
}


h1 {
    color: royalblue;
    font-family:fantasy
}



 img{
     
    border-radius: 130px;

 }

h2{
   
   font-family:cursive;
    color: whitesmoke;
 }

h3{
   
   font-family:fantasy;
    color: lightseagreen;
 }

footer{
    background-color: skyblue;
    font-family: fantasy;color: royalblue;font-style: italic;
 
    
   
}





