<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Comparte <br/> nuestra pagina</h2>
								
									<div class="fb-like" data-href="https://yiteam-a01202421-daw.c9users.io/Proyecto2/Version_2.3/index.php" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
								
							</section>
							<ul class="copyright">
								<li>&copy; KAP. Derechos reservados.</li><li>Página hecha por: <a href="">KAP</a></li>
							</ul>
							
							
							<!-- Pregunta a borrar -->
							<p class="alt">
								¿Qué ventajas y desventajas tiene la integración de tus aplicaciones web con servicios web desarrollados por terceros?
							</p>
							<strong>
								Ventajas
							</strong>
							<p>
								Las ventajas que nos brinda este tipo de APIs es que nos facilita muchas fuciones que nos ayudan intengrar un sistemas mas interactivo y completo 
							</p>
							<strong>
								Desventajas
							</strong>
							<p>
								Muchas funciones ya estan definidads y no las podrmos personalizar 
							</p>
						</div>
					</footer>