<div class="row">
    <div class="col-md-6">
        <section>
            <form method="post" action="#">
                <div class="row uniform">
                    <div class="12u$">
                        <div class="select-wrapper">
                            <select name="orden-category" id="orden-category">
                                <option value="">- Ordena tu resultado -</option>
								<option value="1">Precio menor a mayor</option>
								<option value="2">Precio mayor a menor</option>
								<option value="3">Superficie menor a mayor</option>
								<option value="4">Superficie mayor a menor</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6">
        <?php include('_navPagination.html'); ?>
    </div>
</div>

