
<header id="header">
	<div class="inner">

		<!-- Logo -->
			<a href="index.php" class="logo">
				<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Inmuebles</span>
			</a>

		<!-- Nav -->
			<nav>
				<br/>
				<?php include_once('_navList.php'); ?>
			</nav>

	</div>
</header>