<!-- Modal -->
<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <br>
        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#signin" data-toggle="tab">Ingresar</a></li>
              <li class=""><a href="#signup" data-toggle="tab">Registrarse</a></li>
            </ul>
        </div>
      <div class="modal-body">
        <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="signin">
          
          
          <!--Form to Sing In-->
            <form class="form-horizontal" action="index.php" method="POST">
            <fieldset>
            <!-- Sign In Form -->
            
            <!-- Email input-->
            <div class="control-group">
              <label class="control-label" for="Email">Email:</label>
              <div class="controls">
                <input id="Email" name="Email" class="form-control" type="text" placeholder="Mike12@mail.com" class="input-large" required="">
              </div>
            </div>

            <!-- Password input-->
            <div class="control-group">
              <label class="control-label" for="passwordinput">Contraseña:</label>
              <div class="controls">
                <input required="" id="passwordinput" name="passwordinput" class="form-control" type="password" placeholder="********" class="input-medium">
              </div>
            </div>

            <!-- Remember Me -->
            <div class="control-group">
              <label class="control-label" for="rememberme"></label>
              <div class="controls">
                <input type="checkbox" name="rememberme" id="rememberme-0" value="Remember me" checked>
                  <label class="checkbox" for="rememberme-0">
                    Recordar mi cuenta
                  </label>
              </div>
            </div>

            <!-- SignIn Button -->
            <div class="control-group">
              <label class="control-label" for="signin"></label>
              <div class="controls">
                <button id="signin" name="act_login" class="button special">Ingresar</button>
              </div>
            </div>
            </fieldset>
            </form>
        </div>
        <div class="tab-pane fade" id="signup">
          
          
          <!--Form to Sing Up-->
            <form class="form-horizontal" action="register.php" method="POST">
            <fieldset>
            <!-- Sign Up Form -->
            
            <!-- User input-->
            <div class="control-group">
              <label class="control-label" for="userid">Usuario:</label>
              <div class="controls">
                <input id="userid" name="userid" class="form-control" type="text" placeholder="Mike12" class="input-large" required="">
              </div>
            </div>
            
            <!-- Email input-->
            <div class="control-group">
              <label class="control-label" for="Email">Email:</label>
              <div class="controls">
                <input id="Email" name="Email" class="form-control" type="text" placeholder="Mike12@mail.com" class="input-large" required="">
              </div>
            </div>
            
            <!-- Password input-->
            <div class="control-group">
              <label class="control-label" for="password">Contraseña:</label>
              <div class="controls">
                <input id="password" name="password" class="form-control" type="password" placeholder="********" class="input-large" required="">
                <em>1-8 Caracteres</em>
              </div>
            </div>
            
            <!-- Re-enter Password input-->
            <div class="control-group">
              <label class="control-label" for="reenterpassword">Confirma contraseña:</label>
              <div class="controls">
                <input id="reenterpassword" class="form-control" name="reenterpassword" type="password" placeholder="********" class="input-large" required="">
              </div>
            </div>
            
            
            <!-- Close Button -->
            <div class="control-group">
              <label class="control-label" for="confirmsignup"></label>
              <div class="controls">
                <button id="confirmsignup" name="confirmsignup" class="button special">Crear una cuenta</button>
              </div>
            </div>
            </fieldset>
            </form>
      </div>
    </div>
      </div>
      <div class="modal-footer">
      <center>
        <button type="button" data-dismiss="modal">Cerrar</button>
        </center>
      </div>
