<nav>
    <ul class="pagination nav navbar-nav navbar-right">
        <li class="disabled"><a href="search.php" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        <li class="active"><a href="search.php">1 <span class="sr-only">(current)</span></a></li>
        <li><a href="search.php">2</a></li>
        <li><a href="search.php">3</a></li>
        <li><a href="search.php">4</a></li>
        <li><a href="search.php">5</a></li>
        <li>
            <a href="search.php" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>