<section>
    <div class="table-wrapper">
        <table>
            <tbody>
                <tr>
                    <td class="img">
                        <span class="image tabl"><a href="generic.php"><img src="images/pic01.jpg" alt="" /></a></span>
                    </td>
                    <td>
                        Venta, Casa
                        <br/>
                        <strong>Juriquilla</strong>
                        <br/>
                        Código: 99972
                    </td>
                    <td>
                        Valor:
                        <br/>
                        <strong>$ 999.999</strong>
                    </td>
                    <td>
                        Superficie:
                        <br/>
                        <strong>113 - 131 metros cuadrados</strong>
                    </td>
                    <td>
                        Editar
                    </td>
                    <td>
                        Eliminar
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>