<?php include('_header.html'); ?>
	
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header Navegador -->
					<?php include_once('_headerNAV2.html'); ?>

				<!-- Menu -->
					<?php include_once('_menu.html'); ?>

				<!-- Main -->
					<div id="main">
						<br/><br/><br/>
						<div class="inner">
							<h3>Mis propiedades</h3>
							<p>Actualmente hay 3 publicaciones tuyas.</p>
							<?php include('_formPagination.html'); ?>
							<?php include('_tableProperties.html'); ?>
							<?php include('_navPagination.html'); ?>
						</div>
					</div>
				<!-- Footer -->
				<?php include('_footer.html'); ?>

			</div>
<!-- Scipts and ending of html -->
<?php include('_scripts.html'); ?>